:root {
    --p: 3.8vw;
    --h2: 5.2vw;
}

main {
    display: flex;
    padding-bottom: 22%;
    flex-direction: column;
}

.bigBox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.PictureBox {
    height: 50vw;
    width: 50vw;
}

#profilePic {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

h3 {
    font-size: 3.8vw;
    text-align: center;
    width: 80%;
    font-weight: normal;
}

button {

    background-color: #242424;
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 3.4vw;

}

#suspects {
    display: flex;
    flex-direction: column;
}

#suspectBoxOne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 31vw;
}

#suspectBoxTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-self: center;
}

.suspectBox {
    text-align: center;
    font-size: 3.4vw;
}

.Pic {
    height: 21vw;
    width: 21vw;
    border-radius: 50%;
    background-size: contain;
    border: 1px solid black;
    background-position: center;
}

.chosen {
    border-color: #4359ba;
}

#message {
    height: 10px;
    margin-top: 10px;
}

.underscore {
    text-decoration: underline;
}

.pictureOfSaga {
    height: 26vw;
    width: 26vw;
    border-radius: 50%;
    background-size: contain;
    margin: 16px 6px;
    grid-row: 1/3;
    grid-column: 1;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 1%;
}

.text {
    margin-left: 5%;

}

h2 {
    margin: 5px 0px 0px 0px;
    font-size: var(--h2)
}

#first {
    margin-top: 0;
}

#first p {
    text-align: left;
    margin-bottom: 0;
}

#second {
    grid-column: 2/3;
    text-align: initial;
    grid-row: 2;
    padding-bottom: 7px;
}

#second p {
    margin: 0;
}

#second p:nth-child(2) {
    margin-top: 7px;
}


.OK {
    margin-top: 35px;
}

.EnketLink {
    text-decoration: underline;

}

.EnketLink:hover {
    cursor: pointer;
}


button:disabled {
    color: #666;
    cursor: not-allowed;
    opacity: 0.6;

    background-color: #242424aa;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 3.4vw;

}