main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bigBox {
    height: 100%;
    width: 95vw;
    display: flex;
    flex-direction: column;
    margin: 0px 5vw 10vw 5vw;
    align-self: center;
    align-items: center;
    padding-bottom:100px;
}

.wrapper{
    height: 100%;
}
.PictureBox {
    height: 60vw;
    width: 60vw;
    position: relative;
    margin-top: 10px;
}

#profilePic {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}


#pfpHolder {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vw;
}

input {
    height: 10vw;
    width: 100%;
    background-color: #242424;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-align: left;
    font-size: 3.5vw;
    font-family: Titillium;
}

#delete {
    border: 1px solid #C01232;
    margin-left: 5px;
}

button {
    height: 10vw;
    background-color: #000000c7;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

#save {
    width: 90%;
}

.smallButtons {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.smallButtons button {
    width: 100%;
    margin-top: 10px;
}

#logout {
    margin-right: 5px;
}

h2,
p {
    margin-bottom: 2px;
}

p {
    font-size: 3.5vw;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

label {
    margin-bottom: 5px;
    text-align: initial;
}

#back {
    align-self: center;
    width: 50%;
    margin-top: 20vw;

}

#upload {
    margin-top: 10px;
}