.unlockClue{
    width: 38vw;
    background-color: rgb(39, 38, 39);
    color: white;
    border-radius: 10px;
    border: solid white 1px;
    padding:20px 0;
    margin: auto;
    text-align: center;
}
.clues{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
   padding: 5vw;
   box-sizing: border-box;
}

.clueBox{
    width: 100%;
    height: 15vh;
    color: white;
    border-radius: 10px;
    border: 1px white solid;
    box-sizing: border-box;
}

.unlocked{
    background-color: rgba(0, 0, 0, 0.555);
    display: grid;
    grid-template-columns: auto auto;
    grid-row: 1fr 1fr;
}

.locked{
    background-image: url("../Bilder/locked.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px white solid;
}

.clueBox h2 {
    position: relative;
    z-index: 2;
    align-self: center;
    justify-self: center;
}

h1{
    text-align: center;
}

#cluePicture{
    width: 12vh;
    height: 12vh;
    grid-row: span 2;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    background-size: cover;
    margin:0 15px 0 7.5px;
}

.clueContent{
    grid-row: span 2;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 0 15px 0 7.5px;
}
h2{
    font-size: 15px;
}

.unlockClueContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.unlockClueContainer p{
    width: 80vw;
}

.unlockImage{
    width: 80vw;
    height: 80vw;
    background-image: url("../Bilder/UnlockClue.jpg");
    background-position: center;
    border-radius: 50%;
    background-size: cover;
}

.unlockClueContainer h1{
    width: 80vw;
}

.buttonContainer{
    display: flex;
    width: 80vw;
}

.clueImage2{
    width:80vw;
    height:80vw;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}