.unlockClue {
    width: 38vw;
    background-color: rgb(39, 38, 39);
    color: white;
    border-radius: 10px;
    border: solid white 1px;
    padding: 20px 0;
    margin: auto;
    text-align: center;
}

body {
    background-position: center;
    background-size: cover;
}

main {
    height: 84vh;
    overflow: scroll;
    align-items: center;
}

.clues {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5vw;
    box-sizing: border-box;
}

.clueBox {
    width: 100%;
    height: 17vh;
    color: white;
    border: 1px rgb(0, 0, 0) solid;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.660);
}

.unlocked {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 1fr 1fr;
}

.locked {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clueBox h2 {
    position: relative;
    z-index: 2;
    align-self: center;
    justify-self: center;
    font-size: 4vw;
}

h1 {
    text-align: center;
}

.fa-lock {
    font-size: 25px;
}

#cluePicture {
    width: 12vh;
    height: 12vh;
    grid-row: span 2;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    background-size: cover;
    margin: 0 15px 0 7.5px;
}

.clueContent {
    grid-row: span 2;
    /* text-align: center; */
    align-self: center;
    justify-self: center;
    margin: 0px 15px;
    width: 90%;
    height: 100%;
}

h2 {
    font-size: 15px;
}

#Clueinfo {
    font-size: 3vw;
}

.unlockClueContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* gap: 40px; */
    height: 90%;
    width: 100%;
}

.unlockClueContainer p {
    width: 80%;
    text-align: center;
    padding-top: 10%;
    height: 10%;
    font-size: 4vw;
}

.unlockClueContainer span {
    text-decoration: underline;
}

.unlockImage {
    width: 80vw;
    height: 80vw;
    background-image: url("../Bilder/UnlockClue.jpg");
    background-position: center;
    border-radius: 50%;
    background-size: cover;
}

#picTwo p {
    width: 100%;
    font-size: 4vw;
}

.unlockClueContainer h1 {
    width: 95%;
    height: 20vw;
}

.buttonContainer {
    display: flex;
    width: 80vw;
}

.clueImage2 {
    height: 60vw;
    width: 60vw;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
}

button {
    height: 10vw;
    background-color: #000000c7;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    width: 90%;
}

#clueTwo {
    background-image: url('Bilder/cluesPic/IMG_2457-2.jpg');
    height: 120vw;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: 0% 2.5%; */
}

#clueFirst {
    background-image: url('Bilder/cluesPic/IMG_2457-2.jpg');
    height: 120vw;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: 0% 2.5%; */
}