.unlockClue {
    width: 38vw;
    background-color: rgb(39, 38, 39);
    color: white;
    border-radius: 10px;
    border: solid white 1px;
    padding: 20px 0;
    margin: auto;
    text-align: center;
}

body {
    background-position: center;
    background-size: cover;
}

main {
    height: 84vh;
    overflow: scroll;
    align-items: center;
}

.clues {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5vw;
    box-sizing: border-box;
    padding-bottom: 75px;
    transition: transform 0.3s ease;
    /* Använd transition för att animera transform-egenskapen */
    overflow-x: hidden;
}

.clueBox {
    width: 100%;
    height: 40vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.660);
    border-radius: 5px;
    flex: 0 0 auto;
    /* Sätt storleken på varje ledtrådsruta */
    min-width: 100%;
}

.unlocked {
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: end;
    background-position: center;
    background-size: cover;
}

.unlock {
    position: relative;
}

.lockedOverlay {
    height: 100%;
    width: 100%;
    background-position: center;
    display: grid;
    grid-template-rows: 32.5% 32.5% 35%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.450);
    border-radius: 5px;
}

.locked {
    background-size: cover;
    text-align: center;
}

.clueBox h2 {
    position: relative;
    z-index: 2;
    align-self: center;
    justify-self: center;
    font-size: 4vw;
}

h1 {
    text-align: center;
}

.lock {
    font-size: 18px;
}

.test {
    width: 30px;
    height: 30px;
    background-color: aqua;
}

.clueContent {
    width: 100%;
    height: 35%;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;

}


.lockedClueContent {
    grid-area: 3;
    display: flex;
    align-self: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.unlockedClueContent {
    background-color: rgba(0, 0, 0, 0.660);
}

.fa-arrow-right {
    font-size: 15px;
}

h2 {
    font-size: 15px;
}

#Clueinfo {
    font-size: 3vw;
}

.unlockClueContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* gap: 40px; */
    height: 85%;
    width: 100%;
}

.unlockClueContainer p {
    width: 80%;
    text-align: center;
    padding-top: 10%;
    height: 9%;
    font-size: 4vw;
    margin-bottom: 0px;
}

.unlockClueContainer span {
    text-decoration: underline;
}

.unlockImage {
    width: 80vw;
    height: 80vw;
    background-image: url("../Bilder/UnlockClue.jpg");
    background-position: center;
    border-radius: 50%;
    background-size: cover;
}

#picTwo p {
    width: 100%;
    font-size: 4vw;
}

.unlockClueContainer h1 {
    width: 95%;
    height: 20vw;
}

.buttonContainer {
    display: flex;
    width: 80vw;
}

.clueImage2 {
    height: 60vw;
    width: 60vw;
    border-radius: 2%;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
}

button {
    height: 10vw;
    background-color: #000000c7;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    width: 90%;
}

#clueTwo {
    background-image: url('Bilder/cluesPic/IMG_2457-2.jpg');
    height: 120vw;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: 0% 2.5%; */
}

#clueFirst {
    background-image: url('Bilder/cluesPic/IMG_2457-2.jpg');
    height: 120vw;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: 0% 2.5%; */
}


.clueBox {
    flex: 0 0 auto;
    /* Sätt storleken på varje ledtrådsruta */
    width: 100%;
    /* Bredden på varje ledtrådsruta är 100% av förälderens bredd */
    min-width: 100%;
}

.swiped {
    transform: translateX(-100%);
    /* Förskjut containern till vänster för att visa nästa ledtråd */
}

.slide-out {
    transition: transform 0.3s ease;
    /* Använd transition för att animera transform-egenskapen */
    transform: translateX(-100%);
    /* Förskjut huvudbehållaren åt vänster för att simulera en slide-out-effekt */
}

.back-button {
    transition: transform 0.3s ease;
}

/* Slide-effekt för att gå tillbaka */
.slide-back {
    transform: translateX(0%);
}

.slide-left {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.slide-right {
    transition: transform 0.3s ease;
    transform: translateX(100%);
}