.option {
    padding: 2vw 0vw;
    margin: 5vw 8vw;
    border-radius: 20px 20px 20px 20px;
    color: white;
    height: 40vw;
    position: relative;
    background-position: center;
    background-size: cover;
}

body {
    background-size: cover;
}

main {
    overflow: scroll;
}

.picSaga {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background-size: contain;
    left: -15px;
    position: absolute;
    bottom: -20px;
    z-index: 1;
}

.description {
    background-color: rgba(0, 0, 0, 0.660);
    height: 35%;
    width: 100%;
    bottom: -4.1vw;
    position: absolute;
    border-radius: 0px 0px 5px 20px;
    display: flex;
}

.description p {
    padding-left: 20vw;
    color: rgb(255, 255, 255);
    width: 70vw;
    font-size: 3.5vw;
    align-items: center;
    display: flex;
    height: 50%;
}

.title {
    padding: 0;
    margin: 0;
    font-size: 5vw;
    margin-bottom: 2vw;
}

.optionPic {
    border-radius: 5px 5px 5px 5px;
    height: 90%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.cluePopup div {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 50px;
    height: 70px;
    font-family: Titillium;
}

button {
    color: white;
}

.description i {
    margin-top: 7%;
    margin-right: 3%;
}