@font-face {
    font-family: Sora;
    src: url("../css/fonts/Sora/Sora-VariableFont_wght.ttf");
}


:root {
    --p: 3.8vw;
    --h2: 5.2vw;
}

body {
    margin: 0px;
    width: 100vw;
    color: white;
    font-family: Sora;
    font-size: 14px;
    background-color: rgb(39, 38, 39);
    position: relative;
}

#profilePicture {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    background-position: center;
    margin: 10px 10px;
}

header {
    display: flex;
    justify-content: end;
}

main {

    max-height: 900px;
    max-width: 600px;
    display: flex;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 75px;
}

#SagaIntro {
    color: white;
    font-size: 14px;
    margin: 20vw 10vw;
}

#next {
    width: 100px;
    height: 50px;
    font-size: 16px;
    background-color: #03030385;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    position: absolute;
    bottom: 70px;
    right: 20px;
}

#next:hover {
    background-color: #030303aa;
}

.suspects {
    overflow: scroll;
}

#suspectBox {
    margin: 5vw;
    border-radius: 20px;
    background-color: #03030385;
    color: white;
    height: 75vw;
    display: flex;
    flex-direction: column;
    font-size: 3.5vw;
}

#NameAndAge {
    display: flex;
    align-items: end;
    height: 100%;
}

.odd {
    border: 1px solid #2772C1;
    text-align: right;
}

.odd #suspectPicture {
    border: 1px solid #2772C1;
}

.even {
    border: 1px solid #AC1B51;
    text-align: left;
}

.even #suspectPicture {
    border: 1px solid #AC1B51;
}

#PicNameAndAge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    height: 50%;

}

#info {
    height: 100%;
    padding: 0vw 5vw 5vw 5vw;
}


#popUp {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#popUpBackground {
    position: absolute;
    background-color: black;

    opacity: 80%;
    height: 100%;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#popUpWindow {
    position: absolute;
    background-color: #000000c7;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px #41000d47;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border: 1px solid #ffffff78;
    padding: 10px;
}

#popUpWindow button {
    border-radius: 5px;

    border: none;
    background-color: transparent;
    transition: 0.5s;
    text-decoration: none;
    width: 50px;
}

#popUpWindow button:hover {
    text-decoration: underline;
}

.hidden {
    display: none !important;
}

#cross {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 6vw;
    width: 6vw;
    background-size: cover;
}

h1 {
    text-align: center;
}

#message {
    height: 10px;
    margin-top: 10px;
    text-align: center;
}

.cluePopup div {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 50px;
    height: 70px;
    background-color: black;
    color: white;
    font-size: 30px;
    border: white 0 0 3px 0 solid;
    text-align: center;
}

button {
    color: white;
}

.current-page {
    color: rgb(67, 89, 186) !important;
    text-shadow: 0 0 10px rgba(68, 97, 227, 0.63);
}

#loading {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 7%;
    background-color: #ffffffd9;
}

#loading>img {
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 45vw;
    padding-bottom: 40px;
}

#loading>div {
    position: absolute;
    background-color: white;

    opacity: 30%;
    height: 100%;
    width: 100%;
}