@font-face {
    font-family: "Sora";
    src: url("/fonts/Sora/Sora-VariableFont_wght.ttf");
}

:root {
    --p: 3.8vw;
    --h2: 5.2vw;
}

body {
    margin: 0px;
    width: 100vw;
    color: white;
    font-family: Sora;
    font-size: 14px;
    background-color: rgb(39, 38, 39);
}

#profilePicture {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    background-position: center;
    margin: 10px 10px;
}

header {
    display: flex;
    justify-content: end;
}

main {
    width: 100vw;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

#SagaIntro {
    color: white;
    font-size: 14px;
    margin: 10vw;
}

#next {
    width: 100px;
    height: 50px;
    font-size: 16px;
    background-color: #03030385;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    position: absolute;
    bottom: 70px;
    right: 20px;
}

#next:hover {
    background-color: #030303aa;
}

.suspects {
    overflow: scroll;
    height: 100vh;
}

#suspectBox {
    padding: 5vw;
    margin: 5vw;
    border-radius: 20px;
    background-color: #03030385;
    color: white;
    height: 68vw;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.odd {
    border: 1px solid #2772C1;
    text-align: right;
}

.odd #suspectPicture {
    border: 1px solid #2772C1;
}

.even {
    border: 1px solid #AC1B51;
    text-align: left;
}

.even #suspectPicture {
    border: 1px solid #AC1B51;
}

#PicNameAndAge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}


#popUp {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#popUpBackground {
    position: absolute;
    background-color: black;

    opacity: 80%;
    height: 100%;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#popUpWindow {
    position: absolute;
    background-color: #000000c7;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px #41000d47;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
}

#popUpWindow button {
    border-radius: 5px;

    border: none;
    background-color: transparent;
    transition: 0.5s;
    text-decoration: none;
    width: 50px;
}

#popUpWindow button:hover {
    text-decoration: underline;
}

.hidden {
    display: none !important;
}

#cross {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 6vw;
    width: 6vw;
    background-size: cover;
}

#message {
    height: 10px;
    margin-top: 10px;
    text-align: center;
}