html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    height: 88%;
    position: relative;
    z-index: 999;
    transition: center 0.4s ease-in-out;
    z-index: 7;
}

#GoTo {
    text-decoration: underline;
}

.gm-style-iw-d {
    color: black;
}

#outer-circle {
    transition: radius 0.5s ease;
}

.gm-style-iw,
.gm-style-iw-c {
    padding: 3vw;
}

.gm-style-iw-d>div {
    display: flex;
    margin-right: 2vw;
}

.DescPic {
    height: 17vw;
    width: 15vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.textdiv {
    padding: 0vw 0vw 2vw 2vw;
    width: 50vw;
    height: 18vw;
}

#map div:focus {
    outline: none !important;
}


#checkCode {
    padding: 0% 3% 3% 3%;
}

.inputContainer {
    padding-top: 6%;
}

.inputContainer input {
    border: none;
    border-bottom: 2px solid #000000;
    background-color: #242424;
    margin: 0% 3%;
}

#message {
    height: 10px;
    margin: 10px 0px 15px 0px;
    text-align: center;
}

#infomessage {
    padding: 20px 0px 0px 0px;
    margin: 0px;

}