#map {
    height: 82vh;
    position: relative;
    z-index: 999;
    /* Sätt ett z-index-värde som är lägre än PopUp-rutan för att se till att kartan är under PopUp-rutan */
}

#GoTo {
    text-decoration: underline;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}