.bigBox {
    height: 100%;
    width: 90vw;
    margin: 0vw 5vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#story {
    width: 100%;
    height: 15%;
    background-color: #ffffff70;
    padding: 5px;
    border-radius: 10px;
    margin: 0px;
    border: 1px solid #035073;
}

#noteBox {
    width: 100%;
    height: 50%;
    overflow: scroll;
    margin-bottom: 10%;
}

.note {
    margin: 5vw 0vw;
    background-color: #ffffff70;
    border-radius: 10px;
    border: 1px solid #035073;
    padding: 2vw;
    color: black;
    display: flex;
    justify-content: space-between;
}

#story:focus {
    outline: none !important;
}

button {
    height: 12vw;
    background-color: #242424;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 3vw 0vw;
    font-size: 16px;
    width: 100%;
    font-family: Titillium;
    padding: 5px;
}

img {
    height: 5vw;
    width: 5vw;
}

h1 {
    margin-bottom: 0px;
}

#infoText {
    margin-top: 5%;
    text-align: center;
    height: 5%;
}