html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
}

.bigBox {
    flex-grow: 2;
    width: 90vw;
    margin: 0vw 5vw 20vw 5vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#story {
    width: 100%;
    flex: 0 0 15%;
    background-color: #ffffff70;
    padding: 5px;
    border-radius: 10px;
    margin: 0px;
    border: 1px solid #035073;
}

#noteBox {
    width: 100%;
    flex: 0.9;
    overflow-y: auto;
    margin-bottom: 10%;
}

.note {
    margin: 5vw 0;
    background-color: #ffffff70;
    border-radius: 10px;
    border: 1px solid #035073;
    padding: 2vw;
    color: black;
    display: flex;
    justify-content: space-between;
}

#story:focus {
    outline: none !important;
}

button {
    height: 12vw;
    background-color: #242424;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 3vw 0 8vw 0;
    font-size: 16px;
    width: 100%;
    font-family: Titillium;
    padding: 5px;
}

img {
    height: 5vw;
    width: 5vw;
}

h1 {
    margin-bottom: 0;
}

#infoText {
    margin-top: 5%;
    text-align: center;
    height: 5%;
}

textarea {
    font-size: 3vw
}