main {
    display: flex;
    flex-direction: column;
}

.bigBox {
    height: 100%;
    width: 97%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 150px 0px;
    align-self: center;
    align-items: center;
}

#emailHolder,
#passwordHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 0px 0px;
}

#emailHolder p,
#passwordHolder p {
    align-self: flex-start;
    padding-left: 16px;
}

#passwordold {
    margin-bottom: 15px;
}

.PictureBox {
    height: 50vw;
    width: 50vw;
    position: relative;
    padding: 10px 0px;
}

#profilePic {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

#edit {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    position: absolute;
    right: 30px;
    border-radius: 50%;
    bottom: 8px;
    background-color: #D9D9D9;
    background-size: contain;
    background-repeat: no-repeat;
}

input {
    height: 9vw;
    width: 90%;
    background-color: #242424;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 3.5vw;
    font-family: Titillium;
}

h1 {
    margin: 0;
}

#delete {
    margin-left: 5px;
}

button {
    height: 10vw;
    background-color: #242424;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 3.5vw;
    font-family: Titillium;
}

#save {
    width: 90%;
    height: 10vw;
    padding: 2vw;
}

.smallButtons {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.smallButtons button {
    width: 100%;
    margin-top: 10px;
}

#logout {
    margin-right: 5px;
}

h2,
p {
    margin: 0px;
}

p {
    font-size: 3.5vw;
}

form {
    display: flex;
    flex-direction: column;
}

#message {
    padding: 20px 0px;
}