main {
    display: flex;
    flex-direction: column;
}

.bigBox {
    height: 100%;
    width: 95vw;
    display: flex;
    flex-direction: column;
    margin: 0px 5vw 10vw 5vw;
    align-self: center;
    align-items: center;
}

#emailHolder,
#passwordHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

#emailHolder p,
#passwordHolder p {
    align-self: flex-start;
    padding-left: 16px;
}

#passwordHolder {
    margin-bottom: 25px;
}

#passwordold {
    margin-bottom: 15px;
}

.PictureBox {
    height: 60vw;
    width: 60vw;
    position: relative;
    margin-top: 10px;
}

#profilePic {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

#edit {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    position: absolute;
    right: 50px;
    border-radius: 50%;
    bottom: 0px;
    background-color: #D9D9D9;
    background-size: contain;
    background-repeat: no-repeat;
}

input {
    height: 10vw;
    width: 90%;
    background-color: #242424;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

#delete {
    border: 1px solid #C01232;
    margin-left: 5px;
}

button {
    height: 10vw;
    background-color: #000000c7;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

#save {
    width: 90%;
}

.smallButtons {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.smallButtons button {
    width: 100%;
    margin-top: 10px;
}

#logout {
    margin-right: 5px;
}

h2,
p {
    margin-bottom: 2px;
}

p {
    font-size: 3.5vw;
}

form {
    display: flex;
    flex-direction: column;
}

#message {
    margin: 20px 0px;
}