body {
    color: white;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    color: white;
    margin-left: 5%;
    font-size: 20px;
}

#infoText {
    width: 90%;
    text-align: center;
    color: white;
    margin: 58% 5% 0% 5%;
}

#infoText h2 {
    font-size: 40px;
}

#infoText h3 {
    font-size: 16px;
    margin: 5%;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input {
    height: 9vw;
    width: 90%;
    background-color: #242424;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    margin: 5px 0px;
    font-size: 3.5vw;
    font-family: Titillium;
}

#login {
    margin-top: 15px;
}

#login span {
    text-decoration: underline;
}

button {
    height: 12vw;
    background-color: #242424;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 3vw;
    font-size: 16px;
    width: 90%;
}

form {
    text-align: center;
}

label {
    display: block;
    text-align: left;
    margin-left: 5%;
    margin-top: 2%;
}